*, *::before, *::after{
  padding: 0;
  margin: 0;
}

html{ 
  box-sizing: border-box;
}

body {
  background-color: #0d0c0c;
  width: 100%;
}


h1 {
  font-size: 56px;
}

a {
  text-decoration: none;
  color: #fafafa;
  align-items: center;
}

.mainheader nav{
  display: flex;
  justify-content: space-around;
  padding: 16px;
  border-bottom: 2.5px solid rgba(255, 255, 255, 0.1);
}

.logo-link{
  display: flex;

  a {
    display: flex;
    gap: 10px;
    font-size: 20px;
  }
}

.shop-links {
  display: flex;
  gap: 30px;
  align-items: center;

  a {
    border: 1px solid #0d0d0d;
    border-radius: 10px;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
  }
}

.shop-links a:hover {
  background-color: #333;
}

main {
  min-height: 1vh;
}

section {
  margin: 100px 100px;
}

.description-h1 {
  text-align: center;
  color: #fdfdfd;
}

.moreexp{
  text-align: center;
  color: #9CA3AF;
  font-size: 20px;
}

.btn-buy {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}